// the language class
Dictionary (
    // the map of active identifiers
    // like a struct, but keys are also values instead of just beenig identifiers
    words: {
    // Main
    "Hey OrbTk User!": "Hallo OrbTk Anwender!",
    "What's up today?": "Was machst Du heute?",
    }
)
